@tailwind base;
@tailwind components;

@layer components {
  .scale-hover {
    @apply transition ease-in-out hover:translate-y-1 hover:scale-110;
  }
}

@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #6888b1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e0ecc1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
